<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="UTF-8">
        <link type="text/css" href="/vendor/theme/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link type="text/css" href="/vendor/theme/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
        <link type="text/css" href="/vendor/theme/css/theme.css" rel="stylesheet">
        <link type="text/css" href="/vendor/theme/images/icons/css/font-awesome.css" rel="stylesheet">
        <title>ops-首付游</title>
    </head>
    <body>
        <div id="container">
        </div>

        <script src="http://127.0.0.1:9090/bundle.js"></script>
<!--
        <script src="/bundle.js"></script>
-->
        <script src="/vendor/jquery.min.js" type="text/javascript"></script>
        <script src="/vendor/theme/scripts/jquery-ui-1.10.1.custom.min.js" type="text/javascript"></script>
        <script src="/vendor/theme/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
        
    </body>
</html>
